/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Oswald',"M PLUS Rounded 1c", sans-serif;
}

:root {
  font-size: 62.5%;
}

.top {
  background-color: whitesmoke;
  color: #2eb6aa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
}

.top h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
}

.main {
  background-color: #fffafa;
  text-align: center;
  height: 50vh;
}

.main h2 {
  padding-top: 2rem;
  font-size: 3rem;
}

.main .flashes {
  letter-spacing: 0.1em;
  font-size: 1rem;
}
.flashes .alert{
  color: #ff7d6e;
  background: #ffebe9;
}
.flashes .success{
  color: #1abc9c;
  background:honeydew;
}
.form {
  margin:0 auto;
  padding-top: 5rem;
}

dt {
  font-size: 1rem;
}

.textbox {
  background-color: whitesmoke;
  color: black;
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-weight: bold;
}

input {
  margin:0 auto;
	display: block;
	position: relative;
	width: 15rem;
  padding: 0.5em;
  margin-top: 5rem;
	text-align: center;
	text-decoration: none;
  color: #fff;
  background: #2eb6aa;
  letter-spacing: 0.2em;
  font-size: 1rem;
}

input:hover {
	 opacity:0.8;
	 cursor: pointer;
	 text-decoration: none;
}

input:focus,
.textbox:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}
#status {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (min-width:768px){
  section.top {
    height: 40vh;
  }
  section.main {
    height: 60vh;
  }
  .main h2 {
    padding-top: 2rem;
    font-size: 3rem;
  }
  .main .flashes{
    font-size: 1.5rem;
  }
  .form {
    margin:0 auto;
    padding-top: 5rem;
  }
  dt {
    font-size: 2rem;
  }
  input {
    width: 30rem;
    font-size: 1rem;
  }
}

@media screen and (min-width:990px){
  section.top {
    height: 40vh;
  }
  section.main {
    height: 60vh;
  }
  .main h2 {
    padding-top: 2rem;
    font-size: 3rem;
  }
  .main .flashes {
    font-size: 2rem;
  }
  .form {
    margin:0 auto;
    padding-top: 5rem;
  }
  dt {
    font-size: 1.5rem;
  }
  input {
    width: 15rem;
    font-size: 1rem;
  }
}